<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2>Chuyển đổi dữ liệu</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/string-to-hex" class="btn btn-info">StringToHex</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Header của ứng dụng -->
<header>
  Hello
</header>

<!-- Nội dung chính của ứng dụng sẽ hiển thị tại đây -->
<main>
  <router-outlet></router-outlet>
  <app-main></app-main>

</main>

<!-- Footer của ứng dụng -->
<footer>
  &copy; 2023 My App
</footer>
